.proposals_container{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0em 10em;
}

.proposals_container div:first-child{
    border: 1px solid darkslategrey ;
    width: 66.5%;
   
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    
}

.proposals_container div{
    border: 1px solid darkslategrey ;
    width: 33%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    
}

.proposals_container table{
    width: 100%;
    text-align: start;
    table-layout: fixed ;
}
.proposals_container table th{

    text-align: start;
}

.create_proposal_container{
    padding-top: 2em;
  
}
.proposals_container h4{
    width:20vw;
    margin-block-start: 0;
    margin-block-end: 0;
}
.create_proposal_container input{
   margin: 1em 0;
   padding-bottom: 4em;
   width:20vw;
   
}
.create_proposal_container form{
    text-align: right;
}